# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.pnp
.pnp.js
node_modules

# testing
coverage

# builds
.next/
build
dist
out/

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.development.local
.env.local
.env.production.local
.env.test.local

# private
.private

# tmp files
tmp

# turbo
.turbo

# typescript
*.tsbuildinfo

# vscode
.vscode-test
*.vsix
